{% extends 'band/base.html' %}
{% load static %}
{% block content%}
    
<section >
  <br>
  <h2 class = "container text-center" >BLOG POSTS</h2><br>
  {% for blog in blogs %}
    <div class="container">
      <div class="row">
        <div class = "col-md-8">
            <div class="card bg-light">
                <div class="card-body ">
                  <h3 >
                    {{blog.title}}
                  </h3>
                  <h5 class="card-text">By {{blog.author}} </h5>
                  <h6 class = "lead">
                    {{blog.caption}}
                  </h6>
                  <a href="{% url 'blog_detail' blog.id %}">Read More</a>
                  <div style = "float: right; color : red">
                    <a href="/delete/{{blog.id}}"><i class="fas fa-trash-alt" style = "color: rgb(139, 0, 139)"></i></a>
                  </div>
                </div>
            </div><br><br>
        </div>
      {% endfor %}
  </section>
{% endblock%}

