{% extends 'band/base.html' %}
{% load static %}


{% block content%}
<section id="home">
    <div class="landing-text container-fluid " data-aos="fade-right" data-aos-duration="2000">
      <h4>New SINGLE</h4>
      <h2> <span>Feel the heart beats</span></h2>
      <h4></h4>
    </div>
</section><br>

<div class="container my-4 padding">
    <h1 class = "upcoming">Upcoming Events </h1><br>
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" ></li>
      <li data-target="#multi-item-example" data-slide-to="1" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      {% for event in events %}
      <!--First slide-->
      <div class="carousel-item {% if forloop.first %} active {% endif %}">
        <div class="row">  
          <div class="col-md-4">
            <div class="card mb-2 bg-light">
              <img class="card-img-top index-img" src="{{event.image1.url}}"
                alt="Card image cap">
              <div class="card-body index-body">
                <p class="card-text text-center">{{event.artiste1}}</p>
                <h4 class="card-text text-center" style = "color: purple">{{event.date1}}</h4>      
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card bg-light mb-2">
              <img class="card-img-top index-img" src="{{event.image2.url}}"
                alt="Card image cap">
              <div class="card-body index-body">
                  <p class="card-text text-center">{{event.artiste2}}</p>
                  <h4 class="card-text text-center" style = "color: purple">{{event.date2}}</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card bg-light mb-2">
              <img class="card-img-top index-img" src="{{event.image3.url}}"
                alt="Card image cap">
              <div class="card-body index-body">
                  <p class="card-text text-center">{{event.artiste3}}</p>
                  <h4 class="card-text text-center" style = "color: purple">{{event.date3}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!--/.Slides-->
  </div>
</div>


  <section class="section padding">
    <div class="container">
      <div class="row dj">
        <div class="col-md-5">
          <img src="{% static 'images/about.png' %}" alt="">
        </div>
        <div class="col-md-7">
          <br><h3>DJ Alexander</h3>
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nulla delectus reiciendis, porro iure aperiam unde esse eveniet maxime omnis a molestiae corporis optio fugiat, numquam ipsum facilis nobis id.</h5><br>
          <button type="button" class="btn btn-lg btn-outline-danger">
            CONTACT US
          </button>
        </div>
      </div>
    </div> 
  </section><br>


  <section class = "container">
    <h1 class = "text-center concert">Concerts</h1><br>
    
    <div class="row songs">
      {% for concert in concerts%}
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img src="{{concert.image.url}}" alt="" data-aos="zoom-in-down" data-aos-duration="2000">
     </div>
     {% endfor %}
  </section>


  <section id="festival">
    <div class="festival-text container-fluid " data-aos="fade-right" data-aos-duration="2000">
      <h4>Tomorrowland Festival 2020</h4>
      <h3> <span>MUSIC FESTIVAL BEGINS IN </span></h3>
      <div class='countdown'>
        <div class='timer'>
            <h1 id='days' data-aos="flip-left"    data-aos-easing="ease-out-cubic"
            data-aos-duration="2500">00</h1>
            <small>Days</small>
        </div>
       
        <div class='timer'>
            <h1 id='hours' data-aos="flip-left"    data-aos-easing="ease-out-cubic"
            data-aos-duration="2500">00</h1>
            <small>Hours</small>
        </div>
       
        <div class='timer'>
            <h1 id='minutes' data-aos="flip-left"    data-aos-easing="ease-out-cubic"
            data-aos-duration="2500">00</h1>
            <small>Minutes</small>
        </div>
       
        <div class='timer'>
            <h1 id='seconds' data-aos="flip-left"    data-aos-easing="ease-out-cubic"
            data-aos-duration="2500">00</h1>
            <small>Seconds</small>
        </div>      
      </div><br>
      
      <button type="button" class="btn btn-lg btn-outline-danger">
        BUY TICKETS
      </button>
    </div>
 </section>
{% endblock%}