{% extends 'band/base.html' %}
{% load static %}

{% block content%}
<section id="tour">
    <div
      class="tour-text container-fluid"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      <h4>Tomorrowland Festival 2020</h4>
      <h3><span>MUSIC FESTIVAL BEGINS IN </span></h3>
      <div class="countdown">
        <div class="timer">
          <h1
            id="days"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500"
          >
            00
          </h1>
          <small>Days</small>
        </div>

        <div class="timer">
          <h1
            id="hours"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500"
          >
            00
          </h1>
          <small>Hours</small>
        </div>

        <div class="timer">
          <h1
            id="minutes"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500"
          >
            00
          </h1>
          <small>Minutes</small>
        </div>

        <div class="timer">
          <h1
            id="seconds"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500"
          >
            00
          </h1>
          <small>Seconds</small>
        </div>
      </div>

      <a href="#" class="btn btn-danger btn-lg">Buy Tickets</a>
    </div>
  </section>



  <section class="tours padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img
            src="{% static 'images/hero.jpg' %}"
            alt=""
          />
        </div>
        <div class="col-md-7">
          <br />
          <h1>Untold Festival 2020</h1>
          <h5>8:00pm Dec 15, 2020</h5>
          <h5>Funkhaus Berlin, Berlin, Germany</h5>
          <hr />
          <h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            nulla delectus reiciendis, porro iure aperiam unde esse eveniet
            maxime omnis a molestiae corporis optio fugiat, numquam ipsum
            facilis nobis id.
          </h5>
          <br />
          <button type="button" class="btn btn-lg btn-outline-danger">
            BUY TICKETS
          </button>
        </div>
      </div>
    </div>
  </section>
  <br />

  <section class="tours padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <br />
            <h1>Untold Festival 2020</h1>
            <h5>8:00pm Dec 15, 2020</h5>
            <h5>Funkhaus Berlin, Berlin, Germany</h5>
            <hr />
            <h5>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
              nulla delectus reiciendis, porro iure aperiam unde esse eveniet
              maxime omnis a molestiae corporis optio fugiat, numquam ipsum
              facilis nobis id.
            </h5>
            <br />
            <button type="button" class="btn btn-lg btn-outline-danger">
              BUY TICKETS
            </button>
          </div>
          <div class="col-md-6">
            <br><br><img src="{% static 'images/fest.jpg' %}" alt="" />
          </div>
        </div>
      </div>
    </section>
    <br />

  <section class="tours padding">
    <div class="container">
      <div class="row">
          <div class="col-md-5">
              <img src="{% static 'images/about1.jpg' %}"  alt="" />
            </div>
        <div class="col-md-7">
          <br />
          <h1>Untold Festival 2020</h1>
          <h5>8:00pm Dec 15, 2020</h5>
          <h5>Funkhaus Berlin, Berlin, Germany</h5>
          <hr />
          <h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            nulla delectus reiciendis, porro iure aperiam unde esse eveniet
            maxime omnis a molestiae corporis optio fugiat, numquam ipsum
            facilis nobis id.
          </h5>
          <br />
          <button type="button" class="btn btn-lg btn-outline-danger">
            BUY TICKETS
          </button>
        </div>    
      </div>
    </div>
  </section>
  <br /><br>

{% endblock%}