{% extends 'band/base.html' %}
{% load static %}

{% block content%}
<section id="tour">
    <div
      class="tour-text container-fluid"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      <h4>Tomorrowland Festival 2020</h4>
      <h3><span>MUSIC FESTIVAL BEGINS IN </span></h3>
      <div class="countdown">
        <div class="timer">
          <h1
            id="days"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500"
          >
            00
          </h1>
          <small>Days</small>
        </div>

        <div class="timer">
          <h1
            id="hours"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500"
          >
            00
          </h1>
          <small>Hours</small>
        </div>

        <div class="timer">
          <h1
            id="minutes"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500"
          >
            00
          </h1>
          <small>Minutes</small>
        </div>

        <div class="timer">
          <h1
            id="seconds"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500"
          >
            00
          </h1>
          <small>Seconds</small>
        </div>
      </div>
    </div>
  </section>

  <section class="tours padding">
    <div class="container">
      {% for tour in tours %}
      <div class="row">
          <div class="col-md-5">
            <img src="{{tour.image.url}}"  alt="" />
          </div>
          <div class="col-md-7">
            <br/>
            <h1>{{tour.name}}</h1>
            <h5>8{{tour.date}}</h5>
            <h5>{{tour.venue}}</h5>
            <hr/>
            <h5>{{tour.description}}</h5>
            <br/><br /><br><br/><br>
         </div>    
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock%}